.avatar {
  width: 56px;
  height: 56px;
  background-color: var(--global-base);
  border-radius: 100%;
  position: relative;
  margin-right: 16px;

  .text--button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}