.container--articles {
  background-color: var(--green-n1);
  padding: 120px 200px 12px 200px;

  .article {
    display: flex;
    margin-bottom: 72px;
    .article__img {
      width: 248px;
      height: 248px;
      position: relative;
      margin-right: 16px;

      img {
        width: inherit;
      }
    }

    .article__text {
      .text--hero-title {
        margin-bottom: 24px;
      }
    }

    &.mid {
      flex-direction: row-reverse;

      .article__img {
        margin-right: 0;
        margin-left: 16px;
      }
    }
  }
}