.container--hero {
  .hero__banner {
    display: flex;
    align-items: flex-end;
    height: 680px;

    @include mq-down(med) {
      justify-content: flex-end;
    }

    .banner__video {
      background-image: url("../../../assets/images/hero.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 680px;
      top: 0;
      left: 0;
      overflow: hidden;

      iframe {
        width: 100%;
        height: 215vh;
        transform: translateY(-50vh);
        
        @include mq-up(xl) {
          transform: translateY(-30vh);
        }

        @include mq-down(med) {
          transform: translateY(-70vh);
        }

        @include mq-down(md) {
          width: 380%;
          height: 215vh;
          transform: translate(-50%, -90vh);
        }
      }
    }

    .banner__content {
      background: linear-gradient(
        115.88deg,
        rgba(239, 242, 235, 0.4) 6.75%,
        rgba(239, 242, 235, 0.1) 111.31%
      );
      backdrop-filter: blur(4px);
      border-radius: 48px 0px 0px 0px;

      margin-left: percent(325, 1440);
      box-sizing: border-box;
      padding: 48px;
      height: 244px;
      width: 560px;

      display: flex;

      @include mq-down(md) {
        width: 100%;
        height: auto;
        margin-left: 0;
        padding: 16px;

        img {
          width: 64px;
          height: 64px;
        }
      }

      .content {
        margin-left: 24px;
        width: 100%;

        @include mq-down(md) {
          margin-left: 16px;
        }

        .downloads {
          margin-top: 24px;
          display: flex;
          .container--button-store {
            margin-right: 32px;
            @include mq-down(md) {
              margin-right: 16px;
            }
          }
        }
      }
    }

    .banner__img {
      transform: translate(-30px, 90px);
      width: percent(288, 1440);
      img {
        width: 100%;
        @include mq-up(xl) {
          width: 63%;
        }
      }
      @include mq-down(med) {
        display: none;
      }
    }
  }

  .hero__description {
    width: percent(1040px, 1440px);
    margin: auto;
    margin-top: 96px;
    margin-bottom: 96px;

    @include mq-down(md) {
      width: 100%;
      padding: 0 16px 0 16px;
    }
  }
}
