.container--media {
  position: relative;

    height: 760px;
    overflow: hidden;

  .video {
    width: 100%;
    height: 761px;
    pointer-events: none;

    @include mq-down(md) {
      pointer-events: all;
    }
  }

  .media__content {
    z-index: 1;
    background: linear-gradient(
      115.88deg,
      rgba(239, 242, 235, 0.35) 6.75%,
      rgba(239, 242, 235, 0.3) 111.31%
    );
    backdrop-filter: blur(6px);
    border-radius: 48px 0px 0px 0px;
    position: absolute;
    width: 50%;
    right: 0;
    bottom: -2px;
    padding-top: 58px;
    padding-bottom: 58px;
    padding-left: 104px;

    @include mq-down(md) {
      width: 100%;
      left: 0;
      padding: 32px;
    }

    .text--hero {
      margin-top: 8px;
    }

    .downloads {
      display: flex;
      margin-top: 24px;

      .container--button-store {
        margin-right: 32px;
      }
    }
  }
}
