#app[data-theme="dark"] {
  /* COLOR */
  --button-font-1: rgb(255, 255, 255);
  --global-base: rgb(95, 195, 192);
  --global-base-light: rgb(199, 247, 232);
  --global-danger-base: rgb(200, 84, 66);
  --global-danger-light: rgb(250, 199, 169);
  --global-info: rgb(59, 183, 237);
  --global-n-0: rgb(255, 255, 255);
  --global-n-1: rgb(26, 35, 40);
  --global-n-2: rgb(42, 54, 62);
  --global-n-3: rgb(55, 70, 81);
  --global-n-4: rgb(78, 96, 108);
  --global-n-5: rgb(115, 131, 142);
  --global-n-6: rgb(153, 169, 180);
  --global-n-7: rgb(200, 212, 220);
  --global-success: rgb(121, 220, 121);
  --global-warning: rgb(237, 228, 78);
  --input-background-1: rgb(42, 54, 62);
  --light-neutral-n-1: rgb(255, 255, 255);
  --surface-surface-1: rgb(26, 35, 40);
}
